/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility class */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.lead {
    font-size: 25px;
    color: #333;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1.3em;
}

.btn:hover {
    background: rgb(0, 153, 255);
    color: #333;
    border-radius: 1.3em;
}



.bg-dark {
    background: #333;
    color: #fff;
}

.clr {
    clear: both;
}

/* Main styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, verdana, sans-serif;
    line-height: 1.7em;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav {
    font-size: 1.2rem;
}

#navbar {
    background: #333;
    color: rgb(0, 156, 199);
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
    padding-right: 235px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
}
/* Cre */
#navbar ul li a:hover,
#navbar ul li a.current {
    background: rgb(0, 156, 199);
    color: #fff;
    border-radius: 1.3em;
}

.nd {
    float: right;
}

/* showcase */
#showcase {
    background: url('../img/BRALOGO17_upscaled_image_x2.jpg') no-repeat center center/cover;
    height: 600px;
    width: 100%;
    float: left;
   
}

#showcase .showcase-content {
    color: #333;
    text-align: center;
    padding-left: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
    color: #333;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* home info  */

#home-info {
    height: 400px;
}
#home-info2 {
    height: 400px;

}
#features{
    display: flex;
}
.alan1{
    padding: 5px;
}
.alan2 {
    padding: 20px;
}

.text {
    font-size: 25px;
    color: #fff;
    float: right;
}
.text2 {
    color: #333;
    font-size: x-large;
}

.text2 {
    z-index: 2;
    padding-bottom: 20px;
}

#home-info .info-content p {
    padding-bottom: 20px;
}

/* features  */


.applybtn{
    text-align-last: center;
    padding: 20PX;
}
.apply-button {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1.2em;
    letter-spacing: .1em;
}

.apply-button:hover {
    background: rgb(0, 156, 199);
    color: #333;
    border-radius: 1.2em;
}
.apply-button:active,
.apply-button:focus
{
border: none;
outline:none;
}
/* footer */

footer {
    text-align:center;
    background-color: rgb(0, 156, 199);
    height:150px; 
    padding: 10px;
  }
  
  .logos {
    height: 50px;
  }
  
  .arrow {
    height: 50px;
    display: block; /* to separate it from an auto inline, and makes it go down to next line*/
    margin: 0 auto; /* centers image */
  }
  .copyright {
    color: #fff;
    font-size: 20px;
  }