/* Css Reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
/* logo */
.logo {
    display: block;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
}
#case {
    background: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80') no-repeat center center/cover;
    height: 500px;
}
.title {
    text-align: center;
    padding-top: 30px;
    margin: 30px;

}

/* content */
.text1{
font-size: 20px;
text-indent: 2.0em;
padding: 20px;
margin: 20px;
}

#link {
    text-decoration: none;
    color: black;
}

/*footer*/
#footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}
