.partners-content{
    padding: 20px;
}

.partners-shelter{
    font-size: 20px;
}
.charlotteFamily-content a{
    color: black;
    /* width: 100%; */
}
.charlotteFamily-img{
    background: url('../shelters/charlotteFamily.png') no-repeat;
    height: 200px;
    float: left;
    width: 21%;
    margin-left: 65px;
}

.charlotteFamily-content{
    height: 100%;
    overflow: hidden;
    padding: 35px;
}

.mensShelter{
    background-color: #333;
    color: #fff;
    padding-top: 35px;
}

.alter{
    background-color: #333;
    color: #fff;
}
.mensShelter-img{
    background:  url('../shelters/mensShelter.jpg') no-repeat center;
    height: 200px;
    float: left;
    width: 28.5%;
}
.mensShelter p{
    align-items: center;

}
.mensShelter-content{
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    margin-top: 20px;
}

.urbanMinistry-content a{
    color: black;
}

.urbanMinistry-img{
    background: url('../shelters/urbanMinistry.jpg') no-repeat;
    height: 200px;
    float: left;
    width: 25%;
    margin: 25px;
}

.urbanMinistry-content{
    height: 100%;
    overflow: hidden;
    margin: 40px;
    padding-bottom: 50px;
}

.partners-job{
    padding-top: 100px;
}

.jobs-content{
    padding-bottom: 10px;
}

.amazonWarehouse-img{
    background: url('../img/amazonWarehouse.jpg') no-repeat center/contain;
    height: 200px;
    float: left;
    width: 21%;
    margin-left: 65px;

}

.amazonWarehouse-content{
    height: 100%;
    overflow: hidden;
    padding: 35px;
    padding-bottom: 150px;
}

.amazonWarehouse-content a{
    color: black;
}

.callCenter-img{
    background: url('../img/concentrix.jpeg') no-repeat center/contain;
    height: 200px;
    float: left;
    width: 21%;
    margin-top: 20px;
    margin-left: 65px;
    padding-bottom: 20px;
}

.callCenter-content{
    height: 100%;
    overflow: hidden;
    padding: 35px;
    padding-bottom: 150px;
}
.clr {
    clear: both;
}